{{!-- {{#user-filter users=users}}
  <h5>Block text</h5>
{{/user-filter}} --}}

{{#user-filter heyThere=(action 'testAction') users=users as |people|}}
  {{#each people as |person|}}
    <h1>{{person.name}}</h1>
    <h3>{{person.occupation}}</h3>
  {{/each}}
{{/user-filter}}
{{outlet}}